* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: rgba(32, 32, 40, 255);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 820px;
}

.calculator-box {
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 10px;
    border: 1px solid rgba(59, 62, 69, 255);
    padding: 15px;
    border-radius: 10px;
}

.calculator-box .display {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 50px;
    border: 1px solid rgba(59, 62, 69, 255);
    margin-bottom: 5px;
}

.calculator-box .display .display-box {
    display: flex;
    gap: 10px;
    font-size: 1.4rem;
    color: white;
}

.calculator-box .row {
    display: flex;
    gap: 10px;
}

.calculator-box .row .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 70px;
    height: 70px;
    border: 1px solid rgba(59, 62, 69, 255);
    color: white;
    font-size: 1.3rem;
    transition: 0.3s;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    flex-grow: 1;
}

.calculator-box .row .actions {
    color: #99d0f5;
}

.calculator-box .row .operator {
    color: #e57373;
}

.calculator-box .row #equal {

    background-color: #e57273;
}

.calculator-box .row .btn:hover {
    cursor: pointer;
    /*box-shadow: 0 0 rgba(0, 0, 0, 0.4);*/
    border-bottom-width: 2px;
    transform: translateY(2px);
}

.calculator-box .row .btn-0 {
    flex-grow: 2;
}


/* FOOTER */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: white;
}

.fa-github {
    color: white;
    font-size: 28px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}